.brandcont{
    margin-top: 100px;
}
.brandbtn{
    margin-left: 200px;
    background-color: aquamarine;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 70px;
    border-radius: 30px;
    border: 1px black;
}
.cards {
    float: right;
    width: 30%;
    
    height: 400px;
  }
  .cards img{
    display: flex;
    justify-content: right;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    clear: both;
  }
  .empty{
    height: 400px;
    width: 40%;
  }
  hr{
    margin-top: 70px;
  }