.widecards {
    float: right;
    width: 50%;
    height: max-content;
padding-left: 30px;
margin-right: 100px;
    padding-bottom: 30px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .content{
        flex-direction: column;
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: left;
    display: flex;
    margin-left: 200px;
    
  }

  .marketting{
    display: flex;
    margin-right: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    margin: 0 200px;

  }

.row{
  position: relative;
}
.empty{
  height: 90px;
  width: 10%;
}
.markhead{
    flex-direction: column;
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.markdesc{
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.cuswidecards {
    
    float: right;
    width: 50%;
    height: max-content;
padding-left: 30px;
margin-right: 100px;
    padding-bottom: 30px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    margin-bottom: 30px;
  }
/* .customer{
    display: flex;
    margin-right: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    margin: 0 100px;

  }


.cushead{
    margin-top: 100px;
    flex-direction: column;
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    text-align: right;
    display: flex;
    
}
.seprator{
    margin-top: 300px;
  }

.cushead .cusdesc{
    flex-direction: column;
    text-transform: lowercase;
    font-weight: bold;
    font-size: large;
    margin-top: 300px;
    text-align: right;
    position: relative;

    display: flex;

} */