.widecards {
    float: right;
    width: 50%;
    height: max-content;
padding-left: 30px;
margin-right: 100px;
    padding-bottom: 30px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .content{
        flex-direction: column;
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
    margin-top: 50px;
    text-align: left;
    display: flex;
    margin-left: 100px;
    
  }
  .mark{
    text-align: left;
    display: flex;
    margin-left: 50px;
    margin-bottom: 200px;
}
.mark markhead{
    margin-top: 50px;
    text-align: left;
    display: flex;
    margin-left: 100px;
    font-weight: large;
}
hr{
    margin-top: 200px;
}