 .widecards {
    float: right;
    width: 50%;
    height: max-content;
padding-left: 30px;
margin-right: 100px;
    padding-bottom: 30px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .applybtn{
    align-items: left;
    justify-content: end;
    background-color: rgb(204, 206, 205);
    text-align: center;
    padding: 10px;
    width: max-content;
    border-radius: 40px;
   
}

  .content{
        flex-direction: column;
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: left;
    display: flex;
    margin-left: 200px;
    
  }
.row hr{
  margin-top: 150px;
  position: relative;
}
  .marketting{
    display: flex;
    margin-right: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    margin-left: 200px;

    /* margin: 0 200px; */

  }

.row{
  position: relative;
}
.empty{
  height: 90px;
  width: 10%;
}
.markhead{
    flex-direction: column;
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.markdesc{
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.cuswidecards {
    float: right;
    width: 50%;
    height: max-content;
padding-left: 30px;
margin-right: 100px;
    padding-bottom: 30px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    margin-bottom: 30px;
  } 


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .content {
    margin-left: 10px; /* Adjust margin for mobile */
  }

  .marketing {
    margin: 0 0; /* Adjust margin for mobile */
    
  }

  .markhead,
  .markdesc {
    text-align: center;
    justify-content: center; 
    padding: 0;
    position: relative;
    margin-left: 10px; /* Adjust margin for mobile */

  }

  .applybtn {
    width: 50%;
  }

  .widecards,
  .cuswidecards {
    width: 100%;
    margin-right: 0;
    padding-left: 10px;
  }
}





