.contentcon{
    flex-direction: column;
text-transform: capitalize;
font-weight: normal;
margin-top: 100px;
margin-bottom: 50px;
padding: 0;
font-size: large;
text-align: center;
display: flex;
align-items: center;
justify-content: center;

}
.brandcont{
  margin-top: 100px;
}
.content h1{
    font-weight: bolder;
    font-size: xx-large;

}
/* ThreeSections.css */
.threesections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: max-content;
    margin-bottom: 50px;
  }
  
  .section {
    text-align: center;
    padding: 20px;
    width: 30%;
  }
  
  .section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section p {
    font-size: 16px;
    color: #333;
  }
  