.missionhead{
text-transform: capitalize;
font-weight: bolder;
font-size: large;
margin-top: 50px;
text-align: left;
display: flex;
margin-left: 100px;
}
.missionsub{
    text-transform: capitalize;
    margin-top: 120px;
    text-align: left;
    display: flex;
    margin-left: 100px;  
}