
.missioncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
}


/* Common styles for both main heading and subheading */
.missionhead,
.missionsubhead {
  flex-direction: column;
  text-transform: capitalize;
  font-weight: normal;
  font-size: xx-large;
  margin-top: 50px;
  text-align: left;
  display: flex;
  margin-bottom: 100px;
}

/* Main heading specific styles */
.mission-heading {
  font-size: xx-large;
  font-weight: normal; /* Main heading font weight */
}

/* Subheading specific styles */
.missionsubhead {
  font-size: large;
  font-weight: normal; /* Subheading font weight */
  text-transform: lowercase; /* Subheading text-transform */
 
}

.right-side{
align-items: center;
font-weight: bolder;
}


.descc{
  font-size: xx-large;
  line-height: 20px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  /* Adjust for smaller screens */
  .missioncontainer {
    flex-direction: column;
  }
  .heading,
  .paragraph {
    flex-basis: 100%;
  }
}
