
.missioncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
/* Common styles for both main heading and subheading */
.missionhead,
.missionsubhead {
  flex-direction: column;
  text-transform: capitalize;
  font-weight: normal;
  font-size: xx-large;
  margin-top: 50px;
  text-align: left;
  display: flex;
  margin-left: 100px;
  margin-bottom: 200px;
}

/* Main heading specific styles */
.mission-heading {
  font-size: xx-large;
  font-weight: normal; /* Main heading font weight */
}

/* Subheading specific styles */
.missionsubhead {
  font-size: large;
  font-weight: normal; /* Subheading font weight */
  text-transform: lowercase; /* Subheading text-transform */
 
}

.right-side{
align-items: center;
font-weight: bolder;
font-size: xx-large;
margin-left: 300px;
line-height: 30px;
padding: 30px;
}




@media (max-width: 768px) {
  /* Adjust for smaller screens */
  .missioncontainer {
    flex-direction: column;
  }
  .heading,
  .paragraph {
    flex-basis: 100%;
  }
}
