.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #767AAE;
  color: #fff;
  padding-left: 30px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  width: auto;
  height: 70px;   
}

.nav-links {
  list-style: none;
  display: flex;
  
  gap: 100px;
}

.nav-item {
  font-size: 18px;

}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover {
  text-decoration: underline;
}

